.th{
	text-align: center;
}

#eliminar{ /* Eliminar tarea en el dashboard */
	float: right;
	margin-right: 3%;
	margin-top: -8%;
}



.glyphicon-remove:hover {
	text-decoration: none;
	color: #F41414;
}

.frmlogin{
	width: 35%;
	text-align: center;
	background: #EBEBEB;
	border-radius: 5%;
	margin-left: 33%;
}

.login{
	text-align: center;
	background: #D7F9AF;
	width: 30%;
	margin-left: 40%;
}

.lblEmail{
	margin-right: 50%;
}

.lblUser{
	margin-right: 25%;
}

.password{
	width:17%;
	margin-left: 23.5%;
	height: 2%;
	font-size: 1.4em;
}
